.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.cards6 .single-card-movie {
  width: 15%;
  margin-bottom: 25px;
}

.cards4  .single-card-movie{
  width: 23%;
  margin-bottom: 25px;
}

.cards5 .single-card-movie{
  width: 18%;
  margin-bottom: 25px;
}

.card-img-top {
  width: 100%;
}

.cardBody {
  padding: 10px;
}

.footer p {
  margin: 0;
}

.footer{
  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  padding: 15px;
  background-color:#cfe2ff;
  border: 1px solid #b6d4fe;
  border-radius: 6px;
  color:#0d3b66;
}

.btn {
    margin-left: 5px;
}

.nav{
  background-color:rgb(236, 233, 233);
}

.nav-link{
  color: black;
}

.search-form {
  display: flex;
  width: 100%;
  gap: 8px;
  margin: 20px 0;
}

.search-form input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.search-form button {
  width: 190px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: rgb(84, 170, 84);
  color: white;
}
